body{
    font-family: sans-serif;
}

h2{
    text-align: center;
    font-size: 2rem;
}

h3{
    text-align: center;
}

.todo{
    border : 2px solid black;
    width: 400px;
    height: 500px;
    margin: auto;
}

.input-area{
    /* border: 2px solid red; */
    margin: auto;
    width: 250px;
    height: 60px;
    margin-top: 30px;
}

.list{
    border: 2px solid black;
    width: 300px;
    height: 300px;
    margin: auto;
}